@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.main-navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.main-navbar__logo {
  font-size: 2.5rem;
  cursor: pointer;
}

.main-navbar__info {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-navbar__item {
  list-style: none;
  padding: 0 2rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.main-navbar__item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 3px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: rgba(253, 78, 84, 0.8);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.main-navbar__item:hover::before, .main-navbar__item:focus::before {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
}

@media screen and (max-width: 1025px) and (min-width: 570px) {
  .main-navbar__info {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .main-navbar {
    height: 60px;
  }
  .main-navbar__info {
    display: none;
  }
}

.hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.hamburger {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 42px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger__description {
  color: #fff;
  padding-top: 0.7rem;
}

.close__button {
  position: absolute;
  right: 4%;
  top: 4%;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.close__box {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  z-index: -1;
}

.close__inner {
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.close__inner::before {
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  content: '';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.modal__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 150px))[4];
      grid-template-columns: repeat(4, minmax(100px, 150px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.modal__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem 0;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.modal__tile:hover {
  color: rgba(253, 78, 84, 0.8);
}

.modal__tile i {
  font-size: 3rem;
}

.modal__tile span {
  font-size: 1rem;
  padding: 1rem 0;
}

@media screen and (max-width: 570px) {
  .modal__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modal__container {
    -ms-grid-columns: (minmax(150px, 170px))[2];
        grid-template-columns: repeat(2, minmax(150px, 170px));
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .modal__tile i {
    font-size: 4rem;
  }
  .modal__tile span {
    font-size: 1.6rem;
  }
}

.modal__info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 1000px;
  gap: 10px;
  margin: 3rem auto;
  list-style: none;
}

.modal__item {
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.modal__item::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 3px;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: rgba(253, 78, 84, 0.8);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.modal__item:hover::before, .modal__item:focus::before {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

@media screen and (max-width: 1025px) and (min-width: 570px) {
  .modal__info {
    -ms-grid-columns: (minmax(120px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(120px, 1fr));
  }
  .modal__item {
    border-right: 3px solid rgba(253, 78, 84, 0.5);
  }
  .modal__item:nth-of-type(3n) {
    border-right: none;
  }
}

@media screen and (max-width: 570px) {
  .modal__info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1.5rem;
  }
  .modal__item:hover::before,
  .modal__item:focus::before {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
}

.modal__footer {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 2rem;
}

.modal__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__socials p {
  padding-right: 1rem;
}

.modal__socials i {
  padding: 0.4rem;
  font-size: 1.6rem;
  opacity: 0.6;
  -webkit-transition: color 0.2s ease-in, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: color 0.2s ease-in, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: color 0.2s ease-in, opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: color 0.2s ease-in, opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.modal__socials i:hover {
  color: rgba(253, 78, 84, 0.8);
  opacity: 1;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal__socials-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal__paragraph {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  cursor: default;
}

.modal__paragraph:hover {
  color: rgba(253, 78, 84, 0.8);
}

@media screen and (max-width: 570px) {
  .modal__footer {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
}

.modal__background {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 78, 84, 0.5);
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  overflow-x: hidden;
}

.modal__background--active {
  pointer-events: all;
  opacity: 1;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  padding: 6rem 5rem;
  width: 92%;
  height: 42rem;
  background-color: #292929;
  -webkit-transition: -webkit-transform 1s ease-out 0.25s;
  transition: -webkit-transform 1s ease-out 0.25s;
  transition: transform 1s ease-out 0.25s;
  transition: transform 1s ease-out 0.25s, -webkit-transform 1s ease-out 0.25s;
}

.modal__line {
  border: none;
  width: 100%;
  border-bottom: 2px solid rgba(253, 78, 84, 0.5);
  margin: 2rem auto;
}

.modal--active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 570px) {
  .modal-background {
    display: none;
  }
  .modal-box {
    width: 101%;
    min-height: 100vh;
    padding: 6rem 0;
    overflow: scroll;
  }
}

.hero__nav {
  width: 100%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__logo {
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .hero__nav {
    padding: 1.5rem;
  }
  .hero__logo {
    font-size: 3.5rem;
  }
}

.hero__info {
  padding-left: 4rem;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__item {
  list-style: none;
  padding-right: 3rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .hero__info {
    font-size: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__item {
    padding-top: 1.2rem;
  }
}

.hero__content {
  position: absolute;
  bottom: 20%;
  padding-left: 5vw;
}

.hero__main {
  padding: 4rem;
}

.hero__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero__description {
  margin-top: 5px;
  font-size: 1.2rem;
}

@media screen and (max-width: 570px) {
  .hero__content {
    padding-left: 1vw;
    bottom: 13%;
  }
  .hero__main {
    padding: 2rem;
  }
}

.hero {
  background-color: #292929;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 92vh;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/hero-image.png") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 570px) {
  .hero__box {
    width: 100%;
    height: 100vh;
  }
}

.product-main__top {
  padding: 4rem 6em;
  position: relative;
}

.product-main__top-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.product-main__top-description {
  font-size: 1rem;
  opacity: 0.8;
}

.product-main__top-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8rem;
}

.product-main__top-link i {
  margin-right: 0.6rem;
  font-size: 2rem;
  color: rgba(253, 78, 84, 0.8);
  cursor: pointer;
}

.product-main__top-link span {
  font-size: 1.2rem;
  cursor: pointer;
}

.product-main__top-link span:hover {
  color: rgba(253, 78, 84, 0.8);
}

@media screen and (max-width: 570px) {
  .product-main__top {
    padding: 3rem;
  }
  .product-main__top-title {
    font-size: 3.3rem;
  }
  .product-main__top-description {
    font-size: 1.2rem;
    opacity: 0.9;
  }
  .product-main__top-link {
    margin-top: 1.5rem;
  }
  .product-main__top-link i {
    font-size: 2.2rem;
  }
  .product-main__top-link span {
    font-size: 1.5rem;
  }
}

.product-main__bottom {
  position: absolute;
  bottom: 15%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-main__bottom-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.4rem;
  position: relative;
}

.product-main__bottom-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: rgba(253, 78, 84, 0.8);
}

.product-main__bottom-description {
  font-size: 1rem;
  opacity: 0.8;
}

@media screen and (max-width: 570px) {
  .product-main__bottom {
    bottom: 12%;
  }
  .product-main__bottom-title {
    font-size: 2.2rem;
  }
  .product-main__bottom-description {
    font-size: 1.1rem;
    opacity: 0.9;
  }
}

.product-main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 100%;
  height: 100vh;
  position: relative;
}

.product-main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../../images/keyboard1.jpg") no-repeat 5% center;
  background-size: cover;
  z-index: 0;
}

@media screen and (max-width: 1025px) {
  .product-main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

.image1 {
  background: url("../../../images/mouse.jpg") no-repeat center center;
}

.image2 {
  background: url("../../../images/chair.jpg") no-repeat center center;
}

.image3 {
  background: url("../../../images/earbuds.jpg") no-repeat 60% center;
}

.product-other {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  z-index: 2;
}

.product-other__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.product-other__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.product-other__specific {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #222;
  z-index: 1;
}

.product-other__specific h2 {
  font-size: 2rem;
  position: relative;
  padding-bottom: 0.3rem;
}

.product-other__specific h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  background: rgba(253, 78, 84, 0.5);
}

.product-other__specific p {
  margin: 0.5rem 1rem;
}

.product-other__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.product-other__specific:hover ~ .product-other__image, .product-other__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1025px) and (min-width: 570px) {
  .product-other {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@media screen and (max-width: 570px) {
  .product-other {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  .product-other__specific h2 {
    font-size: 2.4rem;
  }
  .product-other__specific p {
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
  }
}

.products {
  background-color: #292929;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}

@media screen and (max-width: 1025px) {
  .products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 200vh;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

.history {
  width: 100%;
  background-color: #292929;
  padding-top: 10rem;
  overflow: hidden;
}

.history__header {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0 5rem;
}

.history__title {
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.history__description {
  font-size: 1.1rem;
  opacity: 0.8;
}

.history__art {
  width: 80%;
  margin: 0 auto 3rem;
  height: 28vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.history__art:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.history__info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #292929;
}

.history__art-container {
  margin: 1rem 2rem;
  max-width: 350px;
  z-index: 1;
}

.history__art-title {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.history__art-description {
  font-size: 1.1rem;
  opacity: 0.8;
}

.history__image {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.history__info:hover ~ .history__image, .history__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1025px) {
  .history__art {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 70vh;
    width: 90%;
  }
  .history__art:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .history__art-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .history__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.parallax {
  position: relative;
  height: 80vh;
}

.parallax__image {
  position: fixed;
  opacity: 0.8;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../images/desktop.png") no-repeat center center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.parallax__container {
  max-width: 1400px;
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding-top: 12rem;
}

.parallax__title {
  font-size: 3rem;
}

.parallax__description {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.parallax__link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax__link-icon {
  margin-right: 1rem;
  font-size: 2rem;
  color: rgba(253, 78, 84, 0.8);
}

.parallax__link-description {
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.parallax__link-description:hover {
  color: rgba(253, 78, 84, 0.8);
}

@media screen and (max-width: 1025px) {
  .parallax__image {
    background-position: center left;
  }
}

.footer {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #292929;
}

.footer__list {
  font-size: 1.2rem;
  opacity: 0.8;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-bottom: 2rem;
}

.footer__item {
  margin: 1rem;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.footer__item:hover {
  color: rgba(253, 78, 84, 0.8);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.footer__logo {
  font-size: 2rem;
  cursor: pointer;
}

.footer__paragraph {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  cursor: default;
}

.footer__paragraph:hover {
  color: rgba(253, 78, 84, 0.8);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 570px) {
  :root {
    font-size: 12px;
  }
}

body {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */