@use './variables' as *;
@import './info';

.hero__content {
  position: absolute;
  bottom: 20%;
  padding-left: 5vw;
}

.hero__main {
  padding: 4rem;
}

.hero__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero__description {
  margin-top: 5px;
  font-size: 1.2rem;
}

@media screen and (max-width: $breakpoint-phone) {
  .hero__content {
    padding-left: 1vw;
    bottom: 13%;
  }

  .hero__main {
    padding: 2rem;
  }
}
