.footer {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $background-color;

  &__list {
    font-size: 1.2rem;
    opacity: 0.8;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin-bottom: 2rem;
  }

  &__item {
    margin: 1rem;
    transition: color 0.2s ease-in;

    &:hover {
      color: $primary-color-light;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__logo {
    font-size: 2rem;
    cursor: pointer;
  }

  &__paragraph {
    transition: color 0.2s ease-in;
    cursor: default;

    &:hover {
      color: $primary-color-light;
    }
  }
}
