@import './nav';
@import './content';

.hero {
  background-color: $background-color;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 92vh;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../images/hero-image.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  @media screen and (max-width: $breakpoint-phone) {
    &__box {
      width: 100%;
      height: 100vh;
    }
  }
}
