@use './variables' as *;

.history {
  width: 100%;
  background-color: $background-color;
  padding-top: 10rem;
  overflow: hidden;

  &__header {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0 5rem;
  }

  &__title {
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }

  &__description {
    font-size: 1.1rem;
    opacity: 0.8;
  }

  &__art {
    width: 80%;
    margin: 0 auto 3rem;
    height: 28vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  &__info {
    flex: 3;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $background-color;
  }

  &__art-container {
    margin: 1rem 2rem;
    max-width: 350px;
    z-index: 1;
  }

  &__art-title {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  &__art-description {
    font-size: 1.1rem;
    opacity: 0.8;
  }

  &__image {
    flex: 5;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.4s ease-out;
  }

  &__info:hover ~ &__image,
  &__image:hover {
    transform: scale(1.2);
  }

  @media screen and (max-width: $breakpoint-tablet) {
    &__art {
      flex-direction: column-reverse;
      height: 70vh;
      width: 90%;

      &:nth-child(2n) {
        flex-direction: column-reverse;
      }
    }

    &__art-container {
      max-width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    &__image {
      flex: 3;
    }
  }
}
