@use '../variables' as *;

.product-main__bottom {
  position: absolute;
  bottom: 15%;
  right: 10%;
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.4rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background: $primary-color-light;
    }
  }

  &-description {
    font-size: 1rem;
    opacity: 0.8;
  }

  @media screen and (max-width: $breakpoint-phone) {
    bottom: 12%;

    &-title {
      font-size: 2.2rem;
    }

    &-description {
      font-size: 1.1rem;
      opacity: 0.9;
    }
  }
}
