$background-color: #292929;
$background-color-dark: #333;
$primary-color-light: rgba(253, 78, 84, 0.8);
$primary-color-dark: rgba(253, 78, 84, 0.5);
$white: #fff;
$dark: #222;

$breakpoint-phone: 570px;
$breakpoint-tablet: 1025px;
// $breakpoint-tablet-large: 1200px;
