@use './variables' as *;
.modal__footer {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.modal__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  & p {
    padding-right: 1rem;
  }

  & i {
    padding: 0.4rem;
    font-size: 1.6rem;
    opacity: 0.6;
    transition: color 0.2s ease-in, opacity 0.2s ease-in, transform 0.2s ease-in;
  }
  & i:hover {
    color: $primary-color-light;
    opacity: 1;
    transform: translateY(-3px);
  }
}

.modal__socials-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.modal__paragraph {
  transition: color 0.2s ease-in;
  cursor: default;

  &:hover {
    color: $primary-color-light;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .modal__footer {
    position: static;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
}
