.modal-close {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;

  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
