@import './close-btn';
@import './nav';
@import './info';
@import './footer';

.modal__background {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: $primary-color-dark;
  transition: opacity 0.5s ease-in;
  overflow-x: hidden;

  &--active {
    pointer-events: all;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  padding: 6rem 5rem;
  width: 92%;
  height: 42rem;
  background-color: $background-color;
  transition: transform 1s ease-out 0.25s;

  &__line {
    border: none;
    width: 100%;
    border-bottom: 2px solid $primary-color-dark;
    margin: 2rem auto;
  }

  &--active {
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .modal-background {
    display: none;
  }

  .modal-box {
    width: 101%;
    min-height: 100vh;
    padding: 6rem 0;
    overflow: scroll;
  }
}
